{{define "title"}}About{{end}}
{{define "main"}}
    <h2>About</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut lacinia odio sed erat vestibulum tincidunt.
        Aliquam et est quis nunc malesuada euismod. Cras purus magna, fermentum eget congue non, dapibus vel eros.
        Aenean vel ex lacus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Fusce sodales semper tortor,
        nec viverra lectus. Suspendisse imperdiet tristique purus non cursus. Mauris eleifend vitae augue id fermentum.
        Aliquam at ipsum egestas, tincidunt dui eu, ultrices velit. Phasellus metus sem, euismod in porta nec, faucibus
        non risus.
    </p>
{{end}}